<?xml version="1.0" encoding="utf-8"?>
<!--
 ! Excerpted from "Hello, Android",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/eband3 for more book information.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.example.sudoku"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />
    <application android:icon="@drawable/iconn"
          android:label="@string/app_name">
        <activity android:name=".Sudoku"
            android:screenOrientation="portrait"
             android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About"
            android:screenOrientation="portrait"
            android:label="@string/Information"></activity>
             <!-- android:theme="@android:style/Theme.Dialog"-->>
        <activity android:name=".Prefs"
              android:label="@string/settings_title">
        </activity>
        <activity android:name=".EnergyEfficient"
            android:screenOrientation="landscape"
            android:label="Energy Efficiency"></activity>
        <activity android:name=".Trip"
            android:label="Harry the Heap"></activity>
        <activity android:name=".TripLyrics"
            android:label="Song Lyrics and Subtitles"></activity>
        <activity android:name=".TripMaterials"
            android:label="What Makes Up Harry?"></activity>
        <activity android:name=".Recycling"
            android:label="Recycling at MODS"></activity>
        <activity android:name=".Map"
            android:label="You Are Here"></activity>
        <activity android:name=".Tip"
            android:label="Tips For A Greener You"></activity>
        <activity android:name=".Waste"
            android:label="Waste"></activity>
        <activity android:name=".HouseGarage"
            android:label="Garage"></activity>
        <activity android:name=".HouseKitchen"
            android:label="Kitchen"></activity>
        <activity android:name=".HouseBedroom"
            android:label="Living Room"></activity>
        <activity android:name=".HouseBathroom"
            android:label="Bathroom"></activity>
        <activity android:name=".EngeryEfficent0"
            android:screenOrientation="landscape"
            android:label="Energy Efficentcy Home"></activity>
        <activity android:name=".MyQuiz"
            android:label="Quiz Time!"></activity>

    </application>
</manifest>